# WortSchatz's custom directory structure
_sources/*
!_sources/.placeholder
_work/*
!_work/.placeholder
TestLog/*
!TestLog/.placeholder
ProdData/*
!ProdData/.placeholder
Publish

# Visual Studio / .NET Core generic
node_modules/
.vs/
obj/
bin/
prod-js/
prod-style/
**/dev-style/*.css
project.lock.json
*.user
/*.tar.gz

