# WortSchatz's custom directory structure
_sources/*
!_sources/.placeholder
_work/*
!_work/.placeholder
TestLog/*
!TestLog/.placeholder
Publish

# Visual Studio / .NET Core generic
.vs/
obj/
bin/
project.lock.json
*.user
