@import "defines.less";

body {
  margin: 0; padding: 0;
  background-color: white;
  position: relative;
  width: 100%;
  font-family: @fontSerif;
  color: @clrText;
  font-size: 12pt;
  overflow-y: scroll;
}

#header {
  position: fixed; top: 0; left: 0; width: 100%; height: @headerHeight;
  background-color: white; opacity: 0.95; z-index: 1;
  /*border-bottom: 1px solid #f0f0f0;*/
  cursor: default;
}

#header-centrer { position: relative; width: @contWidthFull; margin: 0 auto 0 auto; }
#header-logo { position: absolute; font-family: @fontSans; width: 52pt; }
#header-logo span { display: block; position: absolute; }
#logo1 { color: @clrRedBase; font-weight: 400; font-size: 28pt; top: 6pt; }
#logo2 { color: @clrDisabled; font-weight: 700; font-size: 19pt; top: 28pt; }
#header-menu { position: absolute; left: 55pt; }
#header-menu a {
  display: block; position: relative; float: left; margin: 16pt 0 0 40pt;
  text-decoration: none; color: @clrText; font-family: @fontSans; font-size: 24pt; text-transform: lowercase;
  border-top: 4pt solid white;
  transition: border-color 0.5s ease;
}
#header-menu a:hover, #header-menu a.selected { border-top-color: @clrText; }

#centrer { position: relative; width: @contWidthFull; margin: @headerHeight + 20pt auto 0 auto; }

#content.fading { opacity: 0.5; }

#footSpacer { height: 40pt; position: relative; float: left; clear: both; }

